@use 'shared' as *;
@use 'mixins' as *;

/* Header basic styling */
.site {

    &-header {

        .site {

            &-navigation {
        
                @include down(sm) {
                    display: none;
                }

                &.is-open {
                    display: flex;
                }
            }

            &-hamburger {
                display: inline-block;
                margin: 0;
                padding: 15px 15px;

                font: inherit;
                color: inherit;
                text-transform: none;

                border: 0;
                background-color: transparent;

                transition-property: opacity, filter;
                transition-duration: 0.15s;
                transition-timing-function: linear;

                overflow: visible;
                cursor: pointer;

                @include up(sm) {
                    display: none;
                }

                &_box {
                    width: 40px;
                    height: 24px;

                    position: relative;
                    display: inline-block;
                }

                &_inner {
                    top: 50%;
                    display: block;
                    margin-top: -2px;

                    transition-duration: 0.075s;
                    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

                    &,
                    &:before,
                    &:after {
                        width: 40px;
                        height: 4px;

                        position: absolute;

                        border-radius: 4px;
                        background-color: $black;
                        
                        transition-property: transform;
                        transition-duration: 0.15s;
                        transition-timing-function: ease;
                    }

                    &:before,
                    &:after {
                        @include pseudo-el();
                    }

                    &:before {
                        top: -10px;
                        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
                    }

                    &:after {
                        bottom: -10px;
                        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                    }
                }

                &.is-active {

                    .site {

                        &-hamburger {
                            
                            &_inner {
                                transform: rotate(45deg);
                                transition-delay: 0.12s;
                                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

                                &:before {
                                    top: 0;
                                    opacity: 0;
                                    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
                                }

                                &:after {
                                    bottom: 0;
                                    transform: rotate(-90deg);
                                    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
