/* Default variables here */
$breakpoints: (
  xs: 475,
  sm: 782px,
  md: 1024px,
  lg: 1200px,
  xl: 1536px
);

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

/* Colors */
$black: #000;
$white: #fff;